body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: url("https://cache.pressmailing.net/thumbnail/story_hires/f7f35cc6-9cb2-4b6e-a08b-3383fdb3b486/Weihnachtsmarkt%20am%20Jungfernstieg.jpg.jpg") no-repeat center / cover;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: inherit;
      filter: blur(10px);
    }
  }
  
  .calendar {
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .calendar__picture {
    position: relative;
    height: 200px;
    padding: 20px;
    color: #fff;
    background: #262626 url("https://szene-hamburg.com/wp-content/uploads/2018/10/weihnachtsmarkt-hamburg.jpg") no-repeat center / cover;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
    
    &::before {
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
    }
    
    h2 {
      margin: 0;
    }
    
    h3 {
      margin: 0;
      font-weight: 500;
    }
    h4 {
text-align: center;
    }
  }
  
  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
    
    &:nth-child(7) {
      color: #ff685d;
    }
  }
  
  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
  
    &:nth-child(7n) {
      color: #ff685d;
      font-weight: 700;
    }
    
   &--current,
    &:hover {
      background-color: #009688;
      color: #fff !important;
      font-weight: 700;
      cursor:pointer;
    }}
  }